@import "/index.css";

.cart-width {
  width: 80%;
  margin: 0 auto;
}
.sticky {
  position: sticky;
  top: 1rem;
}
.round-btn {
  border: 1px solid var(--black-color);
  background-color: var(--white-color);
  border-radius: 50%;
  width: 1.5rem;
  cursor: pointer;
  font-weight: 900;
}
.small-input {
  width: 2rem;
}
.inline {
  display: inline;
}
@media screen and (max-width: 780px) {
  .sticky {
    position: relative;
  }
}
